.form {
  background-color: $color-primary;

  @include lg-min {
    height: 120px;
    padding: ($gap + 10) 0;
  }
  @include lg-md {
    height: 120px;
    padding: $gap 0;
  }
  @include md-sm {
    height: 182px;
    padding: $gap 0;
  }
  @include sm {
    height: 262px;
    padding: $gap 0;
  }
  
  &__container {
    display: grid;
    grid-gap: $gap;

    @extend %container;

    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-columns: 1fr 1fr;
    }

  }

  &-item {
    &:nth-of-type(1) {
      @include md-sm {
        grid-column: 1 / span 2;
      }
    }
  }

  &-item__input {
    display: block;

    font-size: 1.125rem;
    height: 60px;
    width: 100%;

    padding-right: $gap;
    padding-left: $gap;

    transition: background-color 0.5s, border-color 0.5s;

    @extend %form_style;

    &::placeholder {
      color: $color-gray;
    }

    &:hover,
    &:focus {
      border-color: rgba($color-light, 0.15);
      border-bottom-color: $color-light;
      background-color: rgba($color-light, 0.15);
      color: $color-light;

      &::placeholder {
        color: $color-light;
      }
    }
  }

  .btn-accent {
    @extend %form_style;
    min-width: 0;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $color-accent;
      border-color: $color-light;
    }
  }
}
